/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: "";
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

* {
    box-sizing: border-box;
}

img {
    max-width: 100% !important;
}

@media only screen and (min-width: 780px) {
    .mobile-only {
        display: none;
    }
}

@font-face {
    font-family: Inter;
    src: url("../../../../../../codefield/assets/fonts/inter/Inter-Medium-slnt=0.ttf") format("ttf");
}

@font-face {
    font-family: Inter;
    font-weight: bold;
    src: url("../../../../../../codefield/assets/fonts/inter/Inter-Bold-slnt=0.ttf") format("ttf");
}

@font-face {
    font-family: Inter;
    font-weight: lighter;
    src: url("../../../../../../codefield/assets/fonts/inter/Inter-Light-slnt=0.ttf") format("ttf");
}

body {
    font-family: Inter, sans-serif;
    font-size: 22px;
}

.text-base, .block .author, p,
li,
span {
    font-size: 15px;
    line-height: 22px;
    color: var(--color-text-light, #89829c);
}

.title, h2, h1 {
    font-size: 28px;
    color: var(--color-text-dark, #25253c);
    margin-bottom: 12px;
    line-height: 38px;
    font-weight: bold;
}

.purple {
    color: var(--color-purple, #7d65ff);
}

p {
    margin-bottom: 1em;
}

@media only screen and (min-width: 780px) {
    h1 {
        font-size: 32px;
    }
}

.base-container {
    width: 100%;
}

.container {
    padding: 0 24px;
    margin-bottom: 50px;
}

@media only screen and (min-width: 780px) {
    .base-container {
        max-width: 1600px;
        margin: auto;
    }

    .container {
        padding: 0 100px;
        margin-bottom: 100px;
    }
}

header {
    height: 680px;
    position: relative;
    width: 100%;
}

header .background {
    background: var(--color-secondary, #120439);
    z-index: 0;
    height: 500px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

header .header-content {
    position: absolute;
    top: 24px;
    left: 0;
    z-index: 1;
    margin-bottom: 0;
}

header .header-image {
    position: absolute;
    bottom: 24px;
    left: 0;
    display: flex;
    justify-content: center;
    width: 100%;
}

header .header-image img {
    width: 372px;
    height: 316px;
}

@media only screen and (min-width: 780px) {
    header {
        height: 620px;
    }

    header .background {
        top: -200px;
        height: 600px;
        width: 100%;
        transform: skewY(-10deg);
        border-bottom-left-radius: 100px;
        border-bottom-right-radius: 100px;
    }

    header .header-content {
        height: 500px;
        width: 100%;
    }

    header .header-image {
        position: absolute;
        bottom: 0;
        left: auto;
        right: 0;
        width: 50%;
        display: inline-block;
        height: 500px;
    }

    header .header-image img {
        width: 500px;
        height: 425px;
    }
}

.top-bar {
    padding-top: 100px;
}

.top-bar .logo-bar {
    position: fixed;
    left: 0;
    top: 0;
    height: 100px;
    background: var(--color-secondary, #120439);
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar .logo-bar .logo {
    width: 150px;
}

.top-bar .logo-bar .hamburger-menu {
    position: absolute;
    right: 24px;
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.top-bar .logo-bar .hamburger-menu i {
    color: white;
    font-size: 24px;
}

.top-bar .logo-bar .hamburger-menu i.open {
    display: none;
}

.top-bar nav {
    display: none;
    position: fixed;
    top: 100px;
    left: 0;
    z-index: 100;
    overflow: hidden;
    height: 100%;
    width: 100%;
    background: white;
}

.top-bar nav ul {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.top-bar nav ul li {
    height: 80px;
    text-align: center;
    display: block;
    border-bottom: 1px solid #ccc;
}

.top-bar nav ul li:last-of-type {
    border: none;
}

.top-bar nav ul li a {
    font-size: 18px;
    font-weight: bold;
    line-height: 80px;
    display: block;
    color: var(--color-secondary, #120439);
    text-decoration: none;
}

.top-bar nav ul li a.button {
    margin-top: 18px;
    line-height: 100%;
    display: inline-block;
}

@media only screen and (min-width: 1280px) {
    .top-bar {
        position: static;
        display: flex;
        width: 100%;
        padding-top: 20px;
        justify-content: flex-start;
    }

    .top-bar .logo-bar {
        display: flex;
        align-items: center;
        flex-basis: 150px;
        width: 150px;
        flex-grow: 0;
        flex-shrink: 0;
        position: static;
        height: auto;
    }

    .top-bar .logo-bar .logo {
        width: 220px;
    }

    .top-bar .logo-bar .hamburger-menu {
        display: none;
    }

    .top-bar nav {
        margin-left: auto;
        position: static;
        display: inline-block;
        margin-right: 0;
        background: none;
    }

    .top-bar nav ul {
        margin-left: auto;
        height: 40px;
        flex-direction: row;
        display: flex;
        justify-content: flex-end;
    }

    .top-bar nav ul li {
        border: none;
        height: auto;
    }

    .top-bar nav ul li a {
        padding: 8px;
        display: inline-block;
        color: var(--color-text-light, #89829c);
        text-decoration: none;
        margin-left: 48px;
        line-height: 24px;
        font-size: 15px;
    }

    .top-bar nav ul li a.button {
        margin-top: 0;
    }

    .top-bar nav ul li a:hover {
        color: var(--color-primary, #55ecf3);
    }
}

.banner {
    height: 100%;
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
}

.banner h1 {
    color: white;
}

.banner p {
    margin-bottom: 24px;
}

.banner .button {
    width: 200px;
}

@media only screen and (min-width: 780px) {
    .banner {
        height: 360px;
        width: 360px;
    }

    .banner p {
        font-size: 18px;
        line-height: 30px;
    }
}

.dot {
    position: relative;
    bottom: 0;
    background: var(--color-primary, #55ecf3);
    width: 6px;
    height: 6px;
    display: inline-block;
    border-radius: 50%;
    margin: 0 4px;
}

.dot.orange {
    background: var(--color-purple, #ff981c);
}

.line {
    display: inline-block;
    height: 2px;
    width: 30px;
    background: var(--color-purple, #7d65ff);
    margin-bottom: 8px;
}

.button {
    padding: 8px;
    min-width: 180px;
    color: var(--color-primary, #55ecf3);
    border: 2px solid var(--color-primary, #55ecf3);
    background: none;
    font-size: 14px;
    border-radius: 4px;
    display: inline-block;
    cursor: pointer;
    box-shadow: 2px 1px 0px 0.5px var(--color-primary, #55ecf3);
}

.button.white {
    background: white;
    border-color: var(--color-text-dark, #25253c);
    color: var(--color-text-dark, #25253c);
    box-shadow: 2px 1px 0px 0.5px var(--color-text-dark, #25253c);
}

.block {
    padding: 24px;
    background: var(--color-secondary, #120439);
    margin-bottom: 24px;
    border-radius: 4px;
    color: white;
}

.block h2 {
    color: white;
    font-size: 24px;
}

.block .author {
    color: var(--color-text-light, #89829c);
}

.block .author .author-name {
    margin-bottom: 0;
}

.block.white {
    background: white;
    color: var(--color-secondary, #120439);
    border: 2px solid var(--color-secondary, #120439);
    box-shadow: 2px 1px 0px 0.5px var(--color-secondary, #120439);
}

.block.white h2 {
    color: var(--color-secondary, #120439);
}

.block.white .author {
    color: var(--color-secondary, #120439);
}

@media only screen and (min-width: 780px) {
    .blocks {
        margin-left: -12px;
        margin-right: -12px;
        display: flex;
    }

    .blocks .block {
        margin: 0 12px;
    }
}

.jobs {
    margin-bottom: 50px;
}

.jobs .title, .jobs h1, .jobs h2 {
    margin-bottom: 24px;
}

.jobs .job {
    margin-bottom: 24px;
}

.jobs .job .job-url {
    font-weight: bold;
    display: block;
    font-size: 22px;
    text-decoration: none;
    margin-bottom: 12px;
    color: var(--color-secondary, #120439);
}

.jobs .job .job-url:hover {
    color: var(--color-purple, #ff981c);
}

.slogan {
    height: 250px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
}

.slogan h2 {
    text-align: center;
    margin-bottom: 24px;
}

.slogan h2 span {
    font-size: 28px;
}

.slogan p {
    text-align: center;
    font-weight: lighter;
}

@media only screen and (min-width: 780px) {
    .slogan h2 {
        line-height: 50px;
        width: 500px;
        font-size: 40px;
    }

    .slogan h2 span {
        font-size: 40px;
    }

    .slogan p {
        width: 300px;
    }
}

footer {
    border-top: 1px solid #eee;
    position: relative;
    height: 250px;
    margin-bottom: 0;
}

footer .footer-txt {
    padding-top: 24px;
    margin-bottom: 24px;
}

footer .footer-txt .trademark {
    position: absolute;
    bottom: 0;
    font-size: 10px;
    height: 20px;
}

footer .footer-links {
    display: flex;
    justify-content: space-between;
}

footer .footer-links ul {
    flex-basis: 50%;
    flex-shrink: 0;
    flex-grow: 0;
}

footer .footer-links ul li {
    margin-bottom: 12px;
}

footer .footer-links ul li a {
    color: var(--color-text-dark, #25253c);
    text-decoration: none;
}

@media only screen and (min-width: 780px) {
    footer {
        height: 125px;
        display: flex;
    }

    footer .footer-links {
        padding-top: 24px;
        flex-basis: 400px;
        margin-left: auto;
    }
}

.info-blocks .info-block {
    flex-basis: 50%;
    flex-grow: 0;
    height: 250px;
}

.info-blocks .info-block.white {
    height: 350px;
}

/*# sourceMappingURL=style.css.map */
section {
    width: 50%;
    margin: auto;
}