form {
  display:block;
  margin-top: $spacing;

  label {
    display: block;
  }

  input[type="text"], input[type="email"] {
    border: 1px solid $color-secondary-dark;
    height: 30px;
    display: block;
    width: 100%;
  }

  textarea {
    width: 100%;
    border: 1px solid $color-secondary-dark;;
  }
}