$color-primary: var(--color-primary, #55ecf3);
$color-secondary: var(--color-secondary, #120439);
$color-secondary-dark: var(--color-secondary, #240b74);

$color-text-dark: var(--color-text-dark, #25253c);
$color-text-light: var(--color-text-light, #89829c);

$color-purple: var(--color-purple, #7d65ff);
$color-orange: var(--color-purple, #ff981c);

$spacing: 24px;

$tablet: 780px;
$screen: 1280px;